html,body {  font-size:14px; height:100%;background:#FFFFFF;}
.hover{ opacity: .8; }
/*bottom的菜单样式*/
.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; background:#FFFFFF;}
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 0px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{ height: 100%; }

/*数据显示样式*/
.div-data{text-align: center;padding:0px 0;color:#98c379;}
.clearfix{clear: both;}
.save-contianer button {
    outline: none;
    background-color: #19AD68;
    color: #FFFFFF;
    padding: 8px 15px;
    border-radius: 3px;
}
/*记录td*/
.dataintable tr td:nth-child(odd){
   width:50%;color: #7A7A7A;padding:5px 0px;
}
.dataintable tr td:nth-child(even){
  width:50%;text-align:center;padding:5px 0px;
}
/*.history-td-pic{
  width:50%;text-align:center;padding:5px 0px;
}*/
/*表单布局*/
.form-nav {
    width:100%;
    height: 43px;
    line-height: 43px;
    background-color: #f2f2f2;
    position:absolute;
    z-index:5;
    top:0;
    text-align:center;
}

.form-nav .arrow {
    float: left;
    width: 43px;
    height: 43px;
    background-image: url(../image/back.png);
    background-size: 11px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.form-content {
    /*padding: 4px;*/
    width:100%;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    top:63px;
    position:absolute;
    z-index:10;
    padding:4px 0px;
    padding-bottom:10px;
    bottom:43px;
}
.form-footer {
    height:43px;
    line-height:43px;
    background-color: #f2f2f2;
    border-top: 1px solid #FAFAFA;
    width:100%;
    position:absolute;
    z-index:200;
    bottom:0;
    text-align:center;
}

.form-process-button {
    background-color: #19AD68;
    width: 100%;
    height: 43px;
    text-align: center;
    line-height: 43px;
    color: #ffffff;
}
.form-process-retest-button{
  background-color:#FFD700;
  width: 100%;
  height: 43px;
  text-align: center;
  line-height: 43px;
  color: #ffffff;
}

.form-item {
    width:97%;
    margin:0 auto;
    height: auto;
}

.form-item .form-item-lbl {
    width: 100%;
}
.form-item .form-steel-select-val,.form-coating-select-val{
   width:100%;height:auto;padding:2px;color:#19AD68;
}
.form-item .form-item-lbl label {
    line-height: 30px;
    margin-top:5px;
}

.form-item .form-item-val input,
select,button{
    width: 80%;
    height: 40px;
    outline: none;
}

.form-item .form-item-val2 input,
select,button{
    width: 100%;
    height: 40px;
    outline: none;
}


.form-item .form-item-val select,button{
   background-color:#e1e1e1;
}
.form-item .form-item-val textarea{
    width: 100%;resize: vertical;height:60px;
}
.form-item .form-item-val input[type="text"],input[type="number"],select,button,textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    border: 1px solid #e1e1e1;
    box-shadow: none;
    padding: 4px 6px;
    font-size: 14px;
    color: #555;
    vertical-align: middle;
    outline: none;
}
.imgBox{
   width:100%;max-height:100px;
   margin: 5px 0px;
   padding-top:5px;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
}
.temp-container{
   width:100px;height:100px;position:relative;margin-left:3px;display:inline-block;
    box-sizing: border-box;
}
.temp-container .temp-del-icon{
   width:20px;height:20px;border-radius:10px;
   text-align:center;line-height:20px;background-color:red;
   position:absolute;top:-5px;right:-5px;color:#FFFFFF;
   z-index:1000;
}
.temp-container img{
    width:100px;height:100px;
}
.pipeinfo-table{
  table-layout:fixed;word-wrap:break-word;width: 100%;
}
.dataintable tr {
    width: 100%;
    word-break: break-all;word-wrap: break-word;
}
.dataintable tr td{
  word-break: break-all;word-wrap: break-word;
}
.pipeinfo-table tr td:nth-child(odd) {
    text-align: left;
    color: #7A7A7A;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pipeinfo-table tr td:nth-child(even) {
    width: 25%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*.pipeinfo-td{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/

.pipeinfo-table tr td {
    margin-top: 5px;
    font-size: 14px;
    padding: 5px 0px;
}
.range-span{
  padding-left:4px;
}
.split-div{
  padding:5px 0px;
}
.split-div .split-title{
  width:100%;
  text-align: center;
  line-height:30px;
  color: #555;
}
